.button {
    background-color: white;
    border-color: sandybrown;
    color: sandybrown;
    width: 100px;
    height: 20px;
}

.APPROVE {
    background-color: white;
    border-color: greenyellow;
    color: greenyellow;
}
.REJECT {
    background-color: white;
    border-color: red;
    color: red;
}
