.wrapper {
    border-radius: 10px;
    border: solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: orange;
    color: orange;
  }
  
  .bAPPROVE {
    background-color: white;
    border-color:greenyellow;
    color:greenyellow;
  }
  
  .bREJECT{
    background: white;
    border-color: #F25D5D;
    color: #F25D5D;
  }

  .btrue {
    background-color: white;
    border-color: #2899E0;
    color: #2899E0;
  }
  
  .bfalse{
    background: white;
    border-color: #F25D5D;
    color: #F25D5D;
  }
  
  .teal {
    background: #31A5A4;
  }
  
  .bPENDING APPROVAL {
    background:white;
    border-color: #EA9517;
    color: #EA9517;
  }
  
  .green {
    background: #37BE37;
  }
  
  .blue {
    background: #3966AD;
  }
  
  .grey {
    background: #C4C4C4;
  }
  
  .xs {
    width: 53px;
    height: 32px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .sm {
    width: 95px;
    height: 32px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .md {
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
  }

  .mx {
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .lg {
    width: 164px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .xl {
    width: 287px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
  }
  