.wrapperHeader {
    margin: auto;
}

.wrapperHeaderContent {
    margin: auto;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color:black;
    text-decoration-thickness: 5px;
}