.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  
  .header {
    padding: 0 1rem;
    background: #D5ECFC;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 70px;
  }
  
  .body {
    padding: 1rem;
  }
  
  .noShadow {
    box-shadow: none;
  }
  
  .footer {
    padding: 0 1rem;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 70px;
  }
  
  .full-height{
    margin: 5vh 0px;
    min-height: calc(90vh - 64px);
    overflow-y: scroll;
  }
  
  .headerColumn {
    padding: 0 1rem;
    background: #D5ECFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-right: 1px solid #C6C6C6;
  }
  