.wrapper {
    height: 64px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  }
  
  .content {
   margin: auto;
   max-width: 1536px;
   height: 100%;
   display: flex;
   align-items: center;
  }
  
  .blue {
    color: #2899E0
  }
  
  .profile {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }